<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HackatMobile</ion-title>
  </ion-toolbar>
</ion-header>
<style>

</style>


<ion-content [fullscreen]="true">
  


  <ion-title expand ="block" style="text-align:center;"> Bienvenue </ion-title>

  <ion-card>
    <img src="https://assets-global.website-files.com/60229d0e0f4cf7393c63e573/60c9fffcf549630a275f8e7c_template-vignette-HACKATHON-1200x900-EN.png.png" />
    <ion-card-header>
      
      <ion-card-title expand ="block" >Un hackathon c'est quoi ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Un hackathon est un processus créatif utilisé dans le domaine de l'innovation numérique. Durant généralement un week-end, des développeurs volontaires se réunissent pour faire de la programmation informatiqueen mode collaboratif surun thèmedéfini. L’engouement pour ce type de manifestation témoigne d’une volonté de développer toujours davantage le numérique au service de la société.
    </ion-card-content>
  </ion-card>





  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="listeHackathons" (click)="listeHackathon()">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Liste des Hackathons</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="accueil" (click)="accueil()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="prochainement">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Prochainement...</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>